.header {
  background-color: #6ec04d;
  height: 150px;
  padding: 20px;
  color: white
}

.title {
  font-size: 1.5em
}

.logo {
  animation: logoSpin infinite 20s linear;
  height: 80px
}

@keyframes logoSpin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}